.templatesSection {
    width: 95%;
    height: 100%;
    margin: 3% 0 0 5%;
}

.templates {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-row-gap: 1.5rem;
    justify-content: space-between;
    margin: 0 5% 5% 0;
}

.template {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin-top: 0.5rem;
    text-align: center;
}

.oneTemplate {
    width: 100%;
    height: 10rem;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .templates {
        grid-template-columns: repeat(1, 90%);
        justify-content: center;
    }
}
