.sidebar {
    box-sizing: border-box;
    width: 30vw;
    float: left;
    position:fixed;
    top: 0;
    bottom:0;
    overflow: auto;
    padding:2.5%;
    z-index: 1;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

.colors {
    display: flex;
}

button, input {
    width: 5rem;
    height: 2rem;
    margin: 1%;
}

button {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: solid #f1f4f8;
    border-radius: 0.5rem;
    color: #3d4853;
}

button:hover {
    background-color: #f1f4f8;
    cursor: pointer;
}

.getButton {
    background-color: #f1f4f8;
    width: 100%;
    height: 3rem;
    margin-top: 5%;
    font-weight: 600;
}

.getButton:hover:enabled{
    background-color: #3d4853;
    color: white;
}

input {
    border: none;
}

input::-webkit-color-swatch {
    border-radius: 0.25rem;
    border: none;
}

input::-moz-color-swatch {
    border-radius: 0.25rem;
    border: none;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        width: 40vw;
    }

    h1 {
        font-size: 1rem;
    }
    
    h2 {
        font-size: 0.7rem;
    }

    .colors {
        display: block;
    }
}