.sidebar {
    width: 25vw;
    position:fixed;
    top: 0;
    bottom:0;
    overflow: auto;
    padding:2.5%;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

button {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: solid #f1f4f8;
    border-radius: 0.5rem;
    width: 5rem;
    height: 2rem;
    margin: 1%;
    color: #3d4853;
}

.getButton {
    background-color: #f1f4f8;
    width: 16rem;
    height: 3rem;
    font-weight: 600;
}

input {
    border-style: none;
}
