.App {
  text-align: initial;
  display: flex;
}

main {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  z-index: 0;
  top:0;
  right:0;
  width: 70vw;
  margin-left: 20vw;
}
